.side_bar
  .side_bar__header
    .side_bar__header__menu
      .side_bar__header__menu__UserName
        テスト
      .side_bar__header__menu__icons
        = link_to "#" do
          = icon("far", "edit", class: "icon")
          %span<>
        = link_to "#" do
          = icon("fas", "cog", class: "icon")
          %span<>
  .side_bar__GroupList
    .side_bar__GroupList__contents
      .side_bar__GroupList__contents__GroupName
        neko
      .side_bar__GroupList__contents__NewMessage
        まだメッセージがありません・・

