.side_bar
  .header
    .menu
      .user_name
        テスト
      .icons
        = link_to "#" do
          = icon("far", "edit", class: "icon")
          %span<>
        = link_to "#" do
          = icon("fas", "cog", class: "icon")
          %span<>
  .group_list
    .contents
      .group_name
        neko
      .new_message
        まだメッセージがありません・・
    .contents
      .group_name
        neko
      .new_message
        まだメッセージがありません・・
