$section-color: #38aef0;

.main_chat {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #fff;
  float: right;
  &__header {
    height: 100px;
    border-bottom: solid 1px #eee;
      &__contents {
        display: flex;
        justify-content: space-between;
        &__group {
          margin: 40px 0 0 40px;
          &__name {
            color: #333;
            font-size: 20px;
            line-height: 20px;
            padding-bottom: 20px;
          }
          &__member {
            height: 25px;
            color: #999;
            font-size: 12px;
          }
        }
        &__edit {
            padding: 30px 40px 0 0;
          &__btn {
            height: 40px;
            width: 73px;
            font-size: 16px;
            border: solid 1px $section-color;
            line-height: 40px;
            padding: 0 20px;
            a {
              text-decoration: none;
              color: $section-color;
            }
          }
        }
      }
  }

  &__list {
    height: calc(100vh - 100px - 90px);
    background-color: #fafafa;
    padding: 46px 0 0 40px;
    overflow: scroll;
    &__post {
      padding-bottom: 40px;
      &__top {
        display: flex;
        margin-bottom: 10px;
        &__name {
          color: #333;
          font-size: 16px;
          font-weight: bold;
          padding-right: 10px;
        }
        &__date {
          color: #999;
          font-size: 12px;
        }
      }
      &__comment {
        color: #434A54;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }

  .form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 40px;
    form {
      display: flex;
      .inputbox {
        width: 100%;
        background-color: #fff;
        display: flex;
        position: relative;
          .message {
            height: 50px;
            width: 100%;
            position: absolute;
            padding: 0 40px 0 10px;
            border: none;
          }
          .image {
            position: absolute;
            top: 12px;
            right: 10px;
            
            &_icon {
              font-size: 1.5rem;
            }
            .hidden {
              display: none;
            }
          }
      }
        
    
      .submit_btn {
        height: 50px;
        width: 100px;
        margin-left: 15px;
        font-size: 15px;
        background-color: $section-color;
        padding: 0 30px;
        color: #fff;
      }
    }
  }
}